.mapContainer {
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.custom-marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

 #current-marker {
    background-image: url('current-marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  } 

  #geocoder-container > div {
    min-width: 50%;
    margin-left: 25%;
    }
  
  /* .geocoder-dropdown-item {
    padding: 5px;
    }
    .geocoder-dropdown-icon {
    margin-right: 10px;
    }
    .geocoder-dropdown-text {
    color: #5a3fc0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    }
  */

  /* class="mapboxgl-ctrl-geocoder mapboxgl-ctrl" */

  .mapboxgl-ctrl-top-right .mapboxgl-ctrl{
    padding:5px;
  }
  .mapboxgl-ctrl-geocoder > input{
    margin:0;
    max-width:100%;
    -webkit-box-flex:1;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    outline:0;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    text-align:left;
    line-height:1.21428571em;
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding:.67857143em 1em;
    background:#fff;
    border:1px solid rgba(34,36,38,.15);
    color:rgba(0,0,0,.87);
    border-radius:.28571429rem;
    -webkit-transition:border-color .1s ease,-webkit-box-shadow .1s ease;
    transition:border-color .1s ease,-webkit-box-shadow .1s ease;
    transition:box-shadow .1s ease,border-color .1s ease;
    transition:box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
    -webkit-box-shadow:none;
    box-shadow:none
  }
  .geocoder-pin-right{
    visibility: hidden;
    height: 0px;
  }